RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.vinox\.by [NC]
RewriteRule ^(.*)$ http://vinox.by/$1 [L,R=301]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
Redirect /forum/ /index.php